
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::selection{
    color: white;
    background-color: black;

}

main{
    padding: 20px 10px;
    background-color: #F7F7F7;

}

nav{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    width: 98%;
    height: auto;

}

.navbar h1{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 800;
    line-height: 1;

}

.navbar ul{
    display: flex;
    align-items: flex-start;
    list-style: none;
    gap: 55px;
    height: 50px;
    margin-top: 10px;
    text-transform: uppercase;
}

.navbar ul li{
    cursor: pointer;
    color: #3d3d3d;
    font-size: 14.5px;
    font-weight: 600;
    width: auto;
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
}

.navbar ul li:hover{
    border-bottom: 3px solid red;
}

.navbar ul i{
    cursor: pointer;
    color: black;
    font-size: 18px;
    transform: translateY(5%);
    transition: .2s all ease;
}

.navbar ul i:hover{
    transform: translateY(0);
    color: rgb(159, 159, 159);
}

.menu-bar{
    display: none;
}

.navbar-center{
    display: none;
}

.page-1{
    padding: 140px 0px 0px 0px;
    width: 100%;
    min-height: 100%;
    border-bottom: 1px solid black;
    background-color: #F7F7F7;
}

.page-1 h1{
    font-size: 29.4vh;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: -4px;
    line-height: 170px;
    overflow: hidden;
}

.page-1 img{
    padding: 10px 15px;
    width: 100%;
    background-size: cover;
    margin-bottom: 170px;
}

.page-1 p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    margin-bottom: 8px;
}

.page-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35vh 0.5vw;
    width: 100%;
    min-height: 1000px;
    background-color: #F7F7F7;
}

#page-2-center{
    position: relative;
    display: flex;
    justify-content: center;
    width: 32%;
    height: 800px;
    overflow: hidden;
}

#page-2-center img{
    width: 100%;
    height: auto;
    background-size: cover;
    scale: 1.1;
}

.page-2-hover-container{
    position: absolute;
    top: 40%;
    z-index: 90;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
 
}

.page-2-hover-container span{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    width: 100%;
    padding: 1.3vw 1vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

}

#page-2-center .page-2-hover-container img{
    cursor: pointer;
    width: 40%;
    background-size: cover;
    margin: 40px 0px;
    display: none;
}

#page-2-center .page-2-hover-container:hover img{
    display: inline-block;
}

.part-1 div{
    background-color: #FFFFFF;
}

.part-1 .page-2-hover-container span{
    background-color: antiquewhite;
}

.part-2 div{
    background-color: #FFFFFF;
}

.part-2 .page-2-hover-container span{
    background-color: #8AAAD6;
}

.part-3 div{
    background-color: #FFFFFF;
}

.page-3{
    padding: 150px 0px 10px 0px;
    width: 100%;
    min-height: 120vh;
    overflow: hidden;
    background-color: #F7F7F7;
    border-bottom: 1px solid black;
}

.page-3 .part-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 580px;
}

.page-3 .part-1 h1{
    padding-left: 20px;
    font-size: 4.64vw;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 0.9px;
}

.page-3 .part-1 p{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 85%;
    font-size: 1.43vw;
    line-height: 28px;
    margin-right: 70px;
    letter-spacing: 0.2px;
}

.page-3 .part-1 p a{
    color: #0a0a0a;
    width: 50%;
    height: 30px;
    margin-top: 60px;
    font-size: 15.5px;
    text-transform: uppercase;
    text-decoration-line: none;
    border-bottom: 1px solid black;
}

.page-3 .part-1 p a:hover{
    color: red;
}

.page-3 .part-2{
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(155, 123, 123, 0.683);

}

.page-3 .part-2 h2{
    position: absolute;
    top: 0;
    left: 0;
    padding: 90px 90px;
    opacity: 0;
    border-radius: 100px;
    background-color: rgb(129, 94, 94);
}

.page-3 .part-2 .img-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 850px;
    z-index: 98;
    margin-bottom: 70px;
    background-color: transparent;
}

.page-3 .part-2 .img-container img{
    width: 34%;
    background-size: cover;
}

.page-3 .part-2 .img-container #pic-content-1{
    position: absolute;
    top: 78%;
    left: 17%;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.2px;
}

.page-3 .part-2 .img-container #pic-content-2{
    position: absolute;
    top: 78%;
    left: 62%;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.2px;
}

.page-3 p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}

.page-4{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.page-4-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
    width: 100%;
    height: auto;
}

.page-4-header h1{
    text-align: center;
    font-size: 10.5vh;
    line-height: 72px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-4-header button{
    cursor: pointer;
    padding: 20px;
    width: 25%;
    font-size: 2.8vh;
    font-weight: 550;
    margin-top: 90px;
    color: #F7F7F7;
    border-radius: 50px;
    border: 1px solid rgb(25, 22, 22);
    background-color: black;
    transition: 0.2s all ease;
}

.page-4-header button:hover{
    color: black;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(25, 22, 22);
}

.page-4-header h5{
    color: #5b5a5a;
    font-size: 17.3px;
    line-height: 22px;
    margin-top: 40px;
    text-align: center;
}

.page-4-content{
    display: flex;
    flex-wrap: wrap;
    padding: 170px 0px 0px 0px;
    width: 100%;
    height: auto;
}

.page-4-content .content{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    width: 29%;
    height: auto;
}

.page-4-content .content h1{
    font-size: 6.5vh;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-4-content .content p{
    width: 100%;
    font-size: 19.3px;
    line-height: 28px;
}

.page-4-content .content a{
    width: 50%;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    letter-spacing: 0.1px;
    margin-top: 100px;
    text-decoration-line: none;
    border-bottom: 1px solid black;
    transition: .1s all ease;
}

.page-4-content .content a:hover{
    color: red;
}

.page-4-content img{
    width: 31%;
    height: auto;
    margin-left: 50px;
}

.page-4-content h2{
    display: flex;
    justify-content: space-between;
    padding: 220px 0px 0px 0px;
    cursor: pointer;
    width: 100%;
    height: auto;
    font-size: 9vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.page-4-content h2 a{
    color: black;
    transition: 0.1s all ease;
    text-decoration-line: none;
}

.page-4-content h2:hover a{
    color: red;
}

.page-5{
    width: 100%;
    min-height: 600px;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0px;
    width: 100%;
    height: auto;   
}

.links-container span{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links-container span h5{
    color: #272727;
    font-size: 19px;
    font-weight: 550;
    margin-bottom: 19px;
    text-transform: uppercase;
}

.links-container span a{
    color: black;
    font-size: 18px;
    text-decoration-line: none;
}

.links-container span a:hover{
    color: red;
    text-decoration-line: underline;
}

.links-container #span-2{
    text-align: end;
}

.footer{
    padding: 100px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
}

.footer #footer-header{
    display: flex;
    justify-content:space-between;
    width: 37%;
    color: #6f6f6f;
    margin-bottom: 40px;

}

.footer #footer-header a{
    color: #6f6f6f;
    text-decoration-line: none;
}

.footer p{
    color: black;
    width: 66%;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
}


@media only screen and (max-width:500px) {

    main{
        position: relative;
        width: 100%;
        overflow-x: hidden;
        padding: 0px 10px;
        background-color: #F7F7F7;
    }

    nav{  
        width: 100%;
        height: auto;
    }
    
    .navbar{
        padding: 15px 0px;
        width: 198%;
        height: auto; 
    }
    
    .navbar h1{
        font-size: 6.6vw;
        font-weight: 800;
        line-height: 25px;
    }

    .navbar ul{
        display: none;
    }

    .menu-bar{
        font-size: 7.8vw;
        font-weight: 600;
        display: block;
    }

    .navbar-center ul i{
        margin-left: 60%;
        font-size: 1.6em;
        font-weight: 900;
    }
    
    .navbar-center{
        padding: 4vh 5vw 0vh 3vw;
        width: 100%;
        height: 90vh;
        color: aliceblue;
        background-color: rgb(15, 15, 15);
        position: absolute;
        top: -120%;
        right: 0%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        display: block;
    }

    .navbar-center-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .navbar-center-header h1{
        font-size: 6.6vw;
        font-weight: 800;
        line-height: 25px;
    }
    
    .navbar-center ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        list-style: none;
    }
    
    .navbar-center ul li a{
        color: aliceblue;
        font-size: 1.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        text-decoration-line: none;
    }

    .social-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 20px;
        margin-right: 10%;
        margin-top: 10%;
    }

.page-1{
    flex-direction: column;
    padding: 90px 0px 0px 0px;
    width: 100%;
    height: auto;
}

.page-1 h1{
    padding: 0px 0px;
    font-size: 16.8vw;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.12;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.page-1 img{
    padding: 1px 0px;
    width: 100%;
    height: 32vh;
    background-size: cover;
    margin-bottom: 90px;
}

.page-1 p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.page-2{
    padding: 20vh 0vw 0vh 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#page-2-center{
    position: relative;
    display: flex;
    justify-content: center;
    width: 94%;
    height: auto;
    margin: 5vh 0vw;
    overflow: hidden;
}

#page-2-center img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.page-2-hover-container{
    position: absolute;
    top: 30%;
    z-index: 90;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

.page-2-hover-container span{
    width: 100%;
    padding: 2.2vh 1vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

.page-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px 0px 0px;
    width: 100%;
    min-height: 120vh;
    overflow: hidden;
}

.page-3 .part-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.page-3 .part-1 h1{
    padding-left: 0vw;
    width: 100%;
    text-align: center;
    font-size: 8.55vw;
    font-weight: 900;
    line-height: 41px;
    letter-spacing: 0px;
}

.page-3 .part-1 p{
    display: flex;
    flex-direction: column;
    padding: 8vh 0px;
    width: 100%;
    height: auto;
    font-size: 18.9px;
    line-height: 29px;
    margin-right: 0px;
    letter-spacing: 0px;
}

.page-3 .part-1 p a{
    width: 41%;
    height: 37px;
    font-size: 2.2vh;
    margin-top: 60px;
}

.page-3 .part-2{
    position: relative;
    padding: 0vh 0vw;
    width: 100%;
    height: auto;
    border-top: 0.8px solid rgba(178, 178, 178, 0.683);
}

.page-3 .part-2 h2{
    position: absolute;
    width: 1vw;
    height: 10vh;
    top: 0;
    left: 0;
    padding: 90px 90px;
    opacity: 0;
    border-radius: 100px;
    background-color: rgb(129, 94, 94);
}

.page-3 .part-2 .img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 1000px;
    z-index: 98;
    margin-bottom: 100px;
}

.page-3 .part-2 .img-container img{
    width: 90%;
    background-size: cover;
}

.page-3 .part-2 .img-container #pic-content-1{
    position: absolute;
    top: 41%;
    left: auto;
    transform: translateX(-50%,-50%);
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.2px;
}

.page-3 .part-2 .img-container #pic-content-2{
    position: absolute;
    top: 86.5%;
    left: auto;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.2px;
    transform: translateX(-50%,-50%);
}

.page-3 p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16.5px;
}

.page-4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.page-4-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 0px;
    width: 100%;
    height: auto;
}

.page-4-header h1{
    padding: 5vh 0vw;
    text-align: center;
    font-size: 8vw;
    font-weight: 900;
    line-height: 5.6vh;
}

.page-4-header button{
    cursor: pointer;
    padding: 20px 0px;
    width: 63%;
    margin-top: 40px;
    font-size: 1.9vh;
    font-weight: 600;
    text-transform: capitalize;
}

.page-4-header h5{
    color: #5b5a5a;
    font-size: 16.3px;
    line-height: 22px;
    margin-top: 27px;
}

.page-4-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10vh 0vw;
    width: 100%;
    height: auto;
}

.page-4-content .content{
    display: flex;
    flex-direction: column;
    padding: 5vh 5px;
    width: 100%;
    height: auto;
}

.page-4-content .content h1{
    padding: 10px 0px;
    font-size: 10vw;
    font-weight: 800;
}

.page-4-content .content p{
    width: 100%;
    font-size: 18.8px;
    line-height: 28.5px;
}

.page-4-content .content a{
    width: 50%;
    height: 35px;
    font-size: 15px;
    font-size: 550;
    letter-spacing: 0.1px;
    margin-top: 90px;
}

.page-4-content img{
    margin: 2vh 0vw;
    width: 100%;
    height: auto;
    margin-left: 0px;
}

.page-4-content h2{
    display: flex;
    justify-content: flex-start;
    padding: 60px 5px 0px 5px;
    width: 100%;
    height: auto;
    font-size: 6.1vw;
    font-weight: 900;
    background-color: re;
}

.page-5{
    width: 100%;
    min-height: 600px;
}

.links-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0vw 35vw 0vw;
    width: 100%;
    height: auto;
}

.links-container span{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links-container span h5{
    font-size: 17px;
    margin-bottom: 10px;
}

.links-container span a{
    color: black;
    font-size: 17.3px;
}

.links-container #span-2{
    text-align: end;
}

.footer{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
}

.footer #footer-header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}

.footer #footer-header a{
    color: #6f6f6f;
    text-decoration-line: none;
}

.footer p{
    padding: 0px 5px;
    text-align: center;
    width: 100%;
    font-size: 18.9px;
    line-height: 29.8px;    
}

}
